# build
dist/
.astro/

# deps
node_modules/

# logs
npm-debug.log*
*.log

# os / editor
.DS_Store
.vscode/
.idea/

# env
.env
.env.production

# thumbnails gerados no build
public/saints/*_thumb.webp
